aiohappyeyeballs==2.4.3
aiohttp==3.7.4
aiosignal==1.3.1
async-timeout==3.0.1
attrs==24.2.0
beautifulsoup4==4.12.3
certifi==2024.8.30
chardet==3.0.4
charset-normalizer==3.4.0
colorama==0.4.6
deep-translator==1.11.4
filelock==3.18.0
frozenlist==1.5.0
fsspec==2025.3.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.11.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
iso8601==2.1.0
Jinja2==3.1.6
llvmlite==0.44.0
MarkupSafe==3.0.2
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.2
numba==0.61.2
numpy==2.2.5
openai-whisper @ git+https://github.com/openai/whisper.git@dd985ac4b90cafeef8712f2998d62c59c3e62d22
propcache==0.2.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
regex==2024.11.6
requests==2.32.3
rfc3986==1.5.0
setuptools==80.7.1
sniffio==1.3.1
soupsieve==2.6
sympy==1.14.0
tiktoken==0.9.0
torch==2.7.0
tqdm==4.67.1
twitchio==2.0.0
typing_extensions==4.12.2
urllib3==2.2.3
yarl==1.18.0
